extends layout

block content
  style.
    body {
      background-color: #1e1e1e; /* Fundo azul escuro */
      color: #fff; /* Cor do texto */
      font-family: Arial, sans-serif;
    }

    h1 {
      color: #ff5733; /* Cor do título */
    }

    p {
      color: #b0b0b0; /* Cor do texto normal */
    }

    ul {
      list-style: none;
      padding: 0;
    }

    li {
      margin-bottom: 5px;
      /* Adicione mudanças de cor leves aqui, por exemplo, alternando entre duas cores */
    }

    li:nth-child(odd) {
      background-color: #353535; /* Cor de fundo para linhas ímpares */
    }

    li:nth-child(even) {
      background-color: #2e2e2e; /* Cor de fundo para linhas pares */
    }

  .container

  h1 #{title}: #{book.title}

  p #[strong Author:]
    a(href=book.author.url) #{book.author.name}
  p #[strong Summary:] #{book.summary}
  p #[strong ISBN:] #{book.isbn}
  p #[strong Genre:]
    each val in book.genre
      a(href=val.url) #{val.name}
      |,

  hr

  if book_instances.length

    p #[strong Delete the following copies before attempting to delete this Book.]

    div(style='margin-left:20px;margin-top:20px')

      h4 Copies

      each book_copy in book_instances
        hr
        if book_copy.status=='Available'
          p.text-success #{book_copy.status}
        else if book_copy.status=='Maintenance'
          p.text-danger #{book_copy.status}
        else
          p.text-warning #{book_copy.status}
        p #[strong Imprint:] #{book_copy.imprint}
        if book_copy.status!='Available'
          p #[strong Due back:] #{book_copy.due_back}
        p #[strong Id:]
          a(href=book_copy.url) #{book_copy._id}

  else
    p Do you really want to delete this Book?

    form(method='POST' action='')
      div.form-group
        input#id.form-control(type='hidden',name='id', required='true', value=book._id )

      button.btn.btn-primary(type='submit') Delete
