extends layout

block content
  style.
    body {
      background-color: #1e1e1e; /* Fundo azul escuro */
      color: #fff; /* Cor do texto */
      font-family: Arial, sans-serif;
    }

    h1 {
      color: #ff5733; /* Cor do título */
    }

    p {
      color: #b0b0b0; /* Cor do texto normal */
    }

    ul {
      list-style: none;
      padding: 0;
    }

    li {
      margin-bottom: 5px;
      /* Adicione mudanças de cor leves aqui, por exemplo, alternando entre duas cores */
    }

    li:nth-child(odd) {
      background-color: #353535; /* Cor de fundo para linhas ímpares */
    }

    li:nth-child(even) {
      background-color: #2e2e2e; /* Cor de fundo para linhas pares */
    }

  .container
  h1 Title: #{book.title}

  p #[strong Author:]
    a(href=book.author.url) #{book.author.name}
  p #[strong Summary:] #{book.summary}
  p #[strong ISBN:] #{book.isbn}
  p #[strong Genre:]
    each val, index in book.genre
      a(href=val.url) #{val.name}
      if index < book.genre.length - 1
        |,

  div(style='margin-left:20px;margin-top:20px')
    h4 Copies

    each val in book_instances
      hr
      if val.status=='Available'
        p.text-success #{val.status}
      else if val.status=='Maintenance'
        p.text-danger #{val.status}
      else
        p.text-warning #{val.status}
      p #[strong Imprint:] #{val.imprint}
      if val.status!='Available'
        p #[strong Due back:] #{val.due_back}
      p #[strong Id:]
        a(href=val.url) #{val._id}

    else
      p There are no copies of this book in the library.

  hr
  p
    a(href=book.url+'/delete') Delete Book
  p
    a(href=book.url+'/update') Update Book
